<%- include('./partials/header.ejs') %>
<main
	class="w-full h-screen flex flex-col items-center justify-center text-3xl font-semibold"
>
	<p>Name: <%= name %></p>
	<p>Dept: <%= dept %></p>
	<p>Reg No: <%= reg_no %></p>
</main>
<%- include('./partials/footer.ejs') %>
